body {
    background-color: #73683B;
}
.column img {
    width: 100%;
    border-radius: 8px;
}
.column {
    width: 300px;
    float: left;
    background-color: #9BC1BC;
    margin: 10px;
    padding: 13px;
    border-radius: 8px;
}
h1 {
    text-align: center;
    color: white;
    background-color:#959556;
    margin: 0 40%;
    border: 2px solid black;
    border-radius: 8px;
}
h2 {
    text-align: center;
}
.nav-bar {
    display: flex;
    justify-content: space-around;
    background-color: #EE6C4D;
    padding: 10px;
    border-radius: 8px;
    margin: 10px;
    border: 2px solid #CB4B2B;
}
.contact-us {
    font;
}
.contact-info {
    text-align: center;
    font-size: 20px;

}